<% user_vote = post.user_vote(current_user) if logged_in? %>
<div class="vote-inline-controls">
  <% if logged_in? %>
    <%= form_with url: community_post_post_votes_path(community, post), method: :post, data: { turbo: true } do %>
      <input type="hidden" name="value" value="1">
      <button type="submit" class="vote-arrow up <%= 'active' if user_vote&.upvote? %>" title="Upvote"></button>
    <% end %>
  <% else %>
    <a href="<%= login_path %>" class="vote-arrow up" title="Log in to vote"></a>
  <% end %>

  <span class="vote-count <%= 'positive' if post.score > 0 %><%= 'negative' if post.score < 0 %>">
    <%= post.score %>
  </span>

  <% if logged_in? %>
    <%= form_with url: community_post_post_votes_path(community, post), method: :post, data: { turbo: true } do %>
      <input type="hidden" name="value" value="-1">
      <button type="submit" class="vote-arrow down <%= 'active' if user_vote&.downvote? %>" title="Downvote"></button>
    <% end %>
  <% else %>
    <a href="<%= login_path %>" class="vote-arrow down" title="Log in to vote"></a>
  <% end %>
</div>
